@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
}

.box2 {
  --sp-lg: 1rem;
  --bg: #e5e4e7;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: var(--sp-lg);
  margin: 0;
  gap: var(--sp-lg);
  background-color: #ffffff;
  color: #2e3440;
  font-family: "Nunito", "Roboto", sans-serif;
  font-size: 1.6rem;
  overflow-y: overlay;
}
.box2::-webkit-scrollbar {
  width: 1.6rem;
}
.box2::-webkit-scrollbar-thumb {
  border: 0.4rem solid #0000;
  border-radius: 99em;
  background-color: #c3c2c4;
  background-clip: content-box;
}
.box2::-webkit-scrollbar-thumb:hover {
  background-color: #a2a1a3;
}

details summary {
  list-style: inside none;
}

.collapse1 {
  --sp-sm: 0.5rem;
  --sp-md: 1rem;
  width: 70%;
  max-width: 72rem;
  margin: 0 auto;
  border-radius: 0.8rem;
  border: 0.1rem solid #fafafa;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.25);
  background-color: #f5f4f9;
  transition: box-shadow 250ms;
  will-change: box-shadow;
  overflow: hidden;
}
.collapse1:hover {
  box-shadow: 0.1rem 0.1rem 1.8rem rgba(0, 0, 0, 0.25);
}
.collapse1 .title1 {
  position: relative;
  padding: var(--sp-md);
  font-size: 0.75rem;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.collapse1 .title1::after {
  content: "→";
  position: absolute;
  right: var(--sp-md);
  top: 50%;
  transform: translateY(-50%);
}
.collapse1[open] .title1::after {
  content: "↓";
}
.collapse1 .divider1 {
  margin: 0 var(--sp-md);
  border-radius: 99em;
  border: 0.1rem solid currentColor;
  background: currentColor;
  color: #e1e1e1;
}
.collapse1 .description1 {
  padding: var(--sp-md);
  margin: 0;
  font-size: 0.75rem;
}
.collapse1 .description1:not(:first-of-type) {
  padding-top: 0;
}
.sinfo {
  margin-left: 15.5%;
  font-size: 1rem;
}
.titlearea {
  background-color: rgb(240, 240, 240);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  width: 100%;
}
.sandr {
 margin-top: 5%;
}
