.shopcontainer{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}
.filtersec{
    margin-top: 150px;
}
.headfilter{
margin-bottom: 20px;
color: black;
font-size: 25px;
margin-left: 15px;
}
.filterico{
    color: #dbbd83;
}